<tr>
  <td><a v-bind:id="`title-${movie.id}`" v-bind:href="`movies/${movie.id}`">{{ movie.title }}</a></td>
  <td><a v-bind:id="`summary-${movie.id}`" v-bind:href="`movies/${movie.id}`">{{ movie.summary }}</a></td>
  <td v-if="user_logged_in">
    <star-rating v-model="rating" v-bind:star-size="18" active-color="#ebf442" @rating-selected ="rate_movie(movie)"></star-rating>
  </td>
  <td v-if="visitor">
    {{ average_rating(movie)}}
  </td>
  <td><a v-bind:id="`category-${movie.id}`" v-bind:href="`categories/${movie.category_id}`">{{ movie.category["name"] }}</a></td>
  <td>
    <a v-bind:id="`show-${movie.id}`" v-bind:href="`movies/${movie.id}`" >
      <button type="button" class="btn btn-primary">Show
      </button>
    </a>
  </td>

  <td>
    <a v-bind:id="`edit-${movie.id}`" v-bind:href="`movies/${movie.id}/edit`" >
      <button type="button" class="btn btn-warning">Edit
      </button>
    </a>
  </td>

  <td v-bind:id="`destroy-${movie.id}`"><button type="button" class="btn btn-danger">Destroy</button></td>
</tr>
