<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-md-6">
    <h2 class="text-center">Movie list</h2>
  </div>
  <div class="col-md-4">

    <% if user_signed_in? %>

      <button type="button" class="btn btn-success btn-sm"><%= link_to 'Add a movie', new_movie_path %></button>

    <% end %>

  </div>
</div>
