
<h5> Pagination info </h5>

<p>Maximum number of records per page (page size): {{  pageSize }} </p>

<p> Needed: {{pagination_needed}} </p>

<p>Total number of movies: {{ total_number_of_movies }}</p>

<p>Number of filtered movies (without_pagination):  {{ number_of_filtered_movies_without_pagination }}</p>

<p><em>With pagination</em>: {{ number_of_filtered_movies_with_pagination }}</p>

<p>Pages needed: {{ number_of_pages_needed_for_pagination}} </p>

<p>Current page: {{ currentPage}} </p>

<p>First page: {{  on_the_first_page }} </p>

<p>Last page: {{  at_the_last_page }} </p>

<hr>
