<div class="row">
  <div id='rate'>


    <ul id="movie-list">
      <template v-for="movie in movies_jsn">
        <li>id: {{ movie.id }}</li>
        <li>title: {{ movie.title }}</li>
        <li><em>text: {{ movie.summary }}</em></li>
        <br>
      </template>
    </ul>
  </div>
</div>
