<%#= render 'index_header.html.erb' %>

<%#= render 'index_table.html.erb' %>

<%#= render 'index_table.html.erb' %>

<%= javascript_pack_tag 'rate' %>

<div class="row">
  <div id='rate'>

    <ul id="movie-list">
      <li v-for="movie in movies_jsn">
        {{ movie.title }}
        {{ movie.summary }}
      </li>
    </ul>


 </div>
</div>
