<%#= render 'index_header.html.erb' %>

<%#= render 'index_table.html.erb' %>

<%#= render 'index_table.html.erb' %>

<%= javascript_pack_tag 'rate' %>

<hr>

<h3>Script</h3>

<h4>Movies (in list format)</h4>

<div class="row">
  <div id='rate'>
    <ul id="movie-list">
      <template v-for="movie in movies_jsn">
        <li>id: {{ movie.id }}</li>
        <li>title: {{ movie.title }}</li>
        <li><em>text: {{ movie.summary }}</em></li>
        <br>
      </template>
    </ul>
  </div>
</div>

<hr>
