<%#= render 'index_header.html.erb' %>

<%#= render 'index_table.html.erb' %>

<%#= javascript_pack_tag 'rate' %>
<%= javascript_pack_tag 'facet' %>

<h4>Facet</h4>
<div id='facet' data-id="<%= @current_user_id %>">

  <%#= render 'index_footer.html.erb' %>

  <p>Category Names: "{{ category_names }}"</p>

  <p>Category select options: "{{ category_name_options }}"</p>

  <h5>Filter movie by category</h5>
  <v-select v-model="selected_category" :options="category_name_options" label="category"></v-select>
  <hr>

  <template v-for="(movie, index) in filteredMovies" v-bind:id="movie.id">
    <h5> {{index+1}}: {{movie.title}} ({{movie.category.name}} category) </h5>
    <h6> Average: {{ total_stars(movie)}} stars in total / {{ number_of_ratings(movie)}} ratings  = {{ average_rating(movie)}} average </h6>

  </template>
