<%= render 'index_header.html.erb' %>

<%#= render 'index_table.html.erb' %>


<%= javascript_pack_tag 'rate' %>


<div class="row">
  <div id='rate' data-id="<%= current_user.id %>">

    <table id="movies-table">
      <thead>
        <tr>
          <th>Title</th>
          <th>Summary</th>
          <th>Category</th>
          <th colspan="5"></th>
        </tr>
      </thead>

      <tbody>

        <template v-for="movie in movies_jsn" v-bind:id="movie.id">
          <tr v-bind:id="`movie-${movie.id}`">
            <td><a v-bind:id="`title-${movie.id}`" v-bind:href="`movies/${movie.id}`">{{ movie.title }}</a></td>
            <td><a v-bind:id="`summary-${movie.id}`" v-bind:href="`movies/${movie.id}`">{{ movie.summary }}</a></td>
            <td><a v-bind:id="`category-${movie.id}`" v-bind:href="`categories/${movie.category_id}`">{{ movie.category["name"] }}</a></td>

            <td>
              <div v-bind:id="`rate-movie-${movie.id}`">
                <!-- `greet` is the name of a method defined below -->
                <input v-model="score">
                <button class="btn btn-secondary" v-on:click="rate_movie(movie)">Rate</button>
              </div>
            </td>
            <td>
              <a v-bind:id="`show-${movie.id}`" v-bind:href="`movies/${movie.id}`" >
                <button type="button" class="btn btn-primary">Show
                </button>
              </a>
            </td>

            <td>
              <a v-bind:id="`edit-${movie.id}`" v-bind:href="`movies/${movie.id}/edit`" >
                <button type="button" class="btn btn-warning">Edit
                </button>
              </a>
            </td>

            <td v-bind:id="`destroy-${movie.id}`"><button type="button" class="btn btn-danger">Destroy</button></td>
          </tr>
        </template>
      </tbody>
    </table>



  </div>
</div>
