

<p id="notice"><%= notice %></p>

<h1>Categories</h1>

<div class="row">
  <div id='hello'>
    <app></app>
 </div>
</div>

<%#= render 'index_table.html.erb' %>

<%= paginate(@categories) %>


<%= link_to 'New Category', new_category_path %>
